@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root {
    --amarelo: #FEC63E;
    --preto: #000000;
    --fonte-texto: normal 1.4rem/2.0rem 'Merriweather', serif;
    --fonte-titulo: bold 2.4rem/2.4rem Arial, sans-serif;
    --fonte-titulo-pequeno: bold 1.8rem/1.8rem Arial, sans-serif;
}

/* CABEÇALHO */
header {
    background-color: var(--amarelo);
    font: var(--fonte-texto);
    padding: 8px;
    position: fixed;
    top: 0px;
    width: 100%;
    font: bold .8rem Arial;
    z-index: 10;
}

ul {
    display: flex;
}

ul li {
    margin-left: .5rem;
}

header a {
    padding: 1.5rem 1rem;
}

header a:hover {
    border-width: 0rem 0rem .2rem 0rem;
    border-style: solid;
    border-color: #000;
}
/* CABEÇALHO */

/* MENU HAMBURGUER */
.hamburguer {
    width: 30px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.linhas {
    height: 3px;
    width: 100%;
    background-color: #000;
    transition: .3s;
}

.hamburguer:hover>#linha1 {
    transform: rotate(45deg) translate(9px, 7px);
    transition: .3s;
}

.hamburguer:hover>#linha2 {
    opacity: 0;
    transition: .2s;
}

.hamburguer:hover>#linha3 {
    transform: rotate(-45deg) translate(5px, -3px);
    transition: .3s;
}
/* MENU HAMBURGUER */

/* INTRO HOME */
.intro {
    margin-top: 70px;
    width: 100vw;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    color: #FFF;
}

.intro-texto h1 {
    font: bold 4.8rem Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.separador {
    width: 10rem;
    height: .2rem;
    background-color: #FFF;
    margin: 0 auto;
}

#texto {
    font: normal 1.5rem 'Merriweather', serif;;
}

#william {
    text-transform: uppercase;
    font: bold 2rem Arial, sans-serif;
    letter-spacing: .1rem;
}

.intro-texto h1, .intro-texto .separador, .intro-texto>p {
    margin-bottom: .8rem;
}

.btn {
    font: bold 1.5rem Arial, sans-serif;
    width: 15rem;
    height: 4rem;
    border-width: 5px;
    border-style: solid;
    border-color: #000;
    background-color: var(--amarelo);
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 4rem;
}

.btn:hover {
    transform: scale(1.05);
    transition: .3s;
}
/* INTRO HOME */

/* INTRO PRODUTOS */
.intro-produtos {
    height: 160px;
    background: url("../img/bg-produtos.jpg") no-repeat center;
    justify-content: center;
}

.intro-produtos h1 {
    margin-bottom: .4rem;
}
/* INTRO PRODUTOS */

/* GRID PRODUTOS*/
.grid-produtos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1rem;
    width: 100%;  
    font: var(--fonte-texto);
    font-weight: bold;
    padding: 4rem 0rem;
}

/* GRID 1 */
.grid-produtos-item:nth-child(1) {
    grid-column: 1 / 13;
    grid-row: 1 / 9;
    background: url("../img/bikcraft-passeio-1.jpg") no-repeat center;
    background-size: 100%;
    text-align: center; 
}

.grid-produtos-item:nth-child(2) {
    grid-column: 13 / 17;
    grid-row: 1 / 9;
    background: url("../img/passeio.png") no-repeat center;
    background-size: 100%;
    background-color: #000;
    object-fit: cover;
}

.grid-produtos-item:nth-child(3) {
    grid-column: 1 / 9;
    grid-row: 9 / 17;
    background: url("../img/bikcraft-passeio-2.jpg") no-repeat center;
    height: 280px;
}

.grid-produtos-item:nth-child(4) {
    grid-column: 9 / 17;
    grid-row: 9 / 17;
    height: 100%;
}
/* GRID 1 */

/* GRID 2 */
.grid-produtos:nth-child(2) .grid-produtos-item:nth-child(1) {
     background: url("../img/bikcraft-esporte-1.jpg") no-repeat center;
     background-size: 100%;
}

.grid-produtos:nth-child(2) .grid-produtos-item:nth-child(2) {
    background: url("../img/esporte.png") no-repeat center;
    background-color: #000;
}

.grid-produtos:nth-child(2) .grid-produtos-item:nth-child(3) {
    background: url("../img/bikcraft-esporte-2.jpg") no-repeat center;
}
/* GRID 2 */

/* GRID 3 */
.grid-produtos:nth-child(3) .grid-produtos-item:nth-child(1) {
    background: url("../img/bikcraft-retro-1.jpg") no-repeat center;
    background-size: 100%;
}

.grid-produtos:nth-child(3) .grid-produtos-item:nth-child(2) {
    background: url("../img/retro.png") no-repeat center;
    background-color: #000;
}

.grid-produtos:nth-child(3) .grid-produtos-item:nth-child(3) {
    background: url("../img/bikcraft-retro-2.jpg") no-repeat center;
}

/* GRID 3 */
 .grid-titulo {
    margin: auto;
    color: #FFF;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.grid-titulo .titulo {
    font-size: 4rem;
    margin: 1rem;
}

.grid-texto {
    padding: 4rem;
    background-color: #000;
    color: #FFF;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--amarelo);
    height: auto;
    width: 100% ;
    text-align: center;
}

.grid-table div {
    border-color: var(--preto);
    border-width: 1px;
    border-style: solid;
}

.grid-table div:nth-child(1), .grid-table div:nth-child(3) {
    border-left: none;
}

.grid-table div:nth-child(2) {
    border-right: none;
}

.grid-table div:nth-child(3), .grid-table div:nth-child(4) {
    border-bottom: none;
}

.grid-table div:nth-child(4) {
    border-right: none;
}

.grid-table p {
    padding: .9rem;
}
/* GRID PRODUTOS*/

/* TITULO */
.titulo {
    font: var(--fonte-titulo);
    margin-top: 4rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.separador-preto {
    background-color: #000;
    margin-bottom: 2rem;
}
/* TITULO */

/* GRID DE PRODUTOS */
.tipo-produtos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.produto-icone {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto img {
    padding: .5rem 0rem;
}

.produto-descricao {
    background-color: var(--amarelo);
    padding: 1.5rem;
    font: bold 1.8rem/2.5rem 'Merriweather', serif;
    text-align: center;
}
/* GRID DE PRODUTOS */

/* PORTFÓLIO */
.portfolio {
    background-color: #000;
    color: var(--amarelo);
}

.portfolio .separador {
    background-color: var(--amarelo);
    margin-bottom: 2rem;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
}

.portfolio-grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.portfolio-grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.portfolio-grid-item:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

/* BOTAO PORTFOLIO */
.texto-btn {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font: var(--fonte-texto);
    font-weight: bold;
}

.btn-preto {
    font: bold 1.5rem Arial, sans-serif;
    color: var(--amarelo);
    width: 15rem;
    height: 4rem;
    border-width: 5px;
    border-style: solid;
    border-color: var(--amarelo);
    background-color: #000;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 4rem;
}

.btn-preto:hover {
    transform: scale(1.05);
    transition: .3s;
}
/* BOTAO PORTFOLIO */

/* SOBRE */

.sobre {
    height: auto;
}
.linhas-sobre {
    position: relative;
    top: -5.9rem;
    right: -.1rem;
}

.qualidades {
    text-align: center;
    position: relative;
    top: -5.9rem;
    min-width: 940px;
}

.qualidades p {
    font: normal 1.4rem/2.0rem 'Merriweather', serif;
}

.sobre .texto-btn, .sobre .btn {
    position: relative;
    top: -5.9rem;
}

.sobre .btn {
    margin-bottom: 0rem;
}

.titulo-pequeno {
    font: var(--fonte-titulo-pequeno);
    letter-spacing: .1rem;
    text-transform: uppercase;
}
/* SOBRE */

/* ORCAMENTO */
.orcamento .flex-row {
    align-items: unset;
}

.orcamento {
    background-color: var(--preto);
    color: #FFF;
    text-align: center;
    padding: 4rem 0rem;
}

.orcamento .titulo {
    color: var(--amarelo);
    margin-top: 0rem;
}

.orcamento .separador {
    background-color: var(--amarelo);
}

/* FORMULARIO */
.form {
    width: 100%;
    padding: 2rem;
    font: var(--fonte-texto);
}

.form .flex-column {
    align-items: flex-start;
}

.form input, textarea {
    margin-bottom: 1rem;
    min-width: 100%;
    height: 3rem;
    padding: .5rem;
    border-width: .3rem;
    border-style: solid;
    border-color: var(--amarelo);
    background-color: var(--preto);
    color:var(--amarelo);
    resize: vertical;
    font:var(--fonte-texto);
}

.form textarea {
    min-height: 100px;
}

.orcamento .btn-preto {
    margin-bottom: 0;
}
/* FORMULARIO */

/* DADOS */
.dados {
    min-width: 50%;
    text-align: left;
    padding: 4rem 0 0 2rem;
    font: var(--fonte-texto);
}

.dados-contato h3 {
    color: var(--amarelo);
    font: var(--fonte-titulo);
}

.dados-contato p:nth-child(7), .dados-contato p:nth-child(9), .dados-contato p:nth-child(11) {
    background-color: #222;
}
/* DADOS */


/* QUEBRA */
.quebra {
    background: url("../img/bg-footer.jpg") no-repeat center;
    height: 100px;
    justify-content: center;
    text-align: center;
}

.quebra p {
    font: var(--fonte-texto);
    color: white;
}

.quebra p:last-child {
    font: bold 14px/14px Arial, Helvetica, sans-serif;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.quebra .separador {
    margin: .5rem 0;
}
/* QUEBRA */

/* RODAPE */
.rodape {
    padding: 3rem;
    background-color: #000;
    color: #FFF;
}

.rodape .flex-row, .rodape .flex-between{
    align-items: flex-start;
}

.rodape .titulo {
    margin-top: 0;
}

.rodape p {
    font: var(--fonte-texto);
}

.rodape .separador {
    margin: .5rem 0;
}

.rodape-item {
    align-items: flex-start;
    width: 30%;
}
/* RODAPE */

/* COPYRIGHT */
.copy {
    background-color: var(--amarelo);
    font: var(--fonte-texto);
    font-weight: bold;
    padding: 2rem;
}
/* COPYRIGHT */